body{
    padding: 0 22%;
    font-family: Roboto;
}

.form-signin{
    width: 300px;
    margin: 0 auto;
    margin-top: 200px;
}

.w100{
    width: 100px;
    margin-top: 30px;
    display: inline-block;
}

.editLink{
    float: right;
    padding: 3px;
    margin-left: 3px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.button_margin{
    margin: 10px 0;
}

.mlr{
    width: 30%;
    margin: 0 auto;
}

.mlrb{
    width: 60%;
    margin: 0 auto;
}

.mlrs{
    width: 15%;
    margin: 0 auto;
}

.question{
    font-size: 35px;
}

.dib{
    display: inline-block;
}

.pad{
    padding: 0 15%;
    font-size: 100px;
}